<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stream.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/jquery.fileupload.css" rel="stylesheet">
    <link href="css/jquery.fileupload-ui.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ greeting }}">Connex.us</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a id = "managementId" href="/management">Manage</a></li>
            <li><a id = "createId" href="/create">Create</a></li>
            <li><a id = "viewId" href="/view">View</a></li>
            <li><a id = "searchId" href="/search">Search</a></li>
            <li><a id = "trendingId" href="/trending">Trending</a></li>
            <li><a id = "socialId" href="/social">Social</a></li>
            <li><a id = "logoutId" href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"> <strong> {{ stream.name }} </strong> by {{ stream.author.email }}</div>
            <div class="panel-body">
              {% if num_image == 0 %}
                <div class="jumbotron text-center" style="background: #DCDCDC; color: white; text-align: center;">
                    <h1>The stream is empty.</h1>
                </div>
              {% else %}
                {% for img in imgs %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail clickable">
                            <a href='{{ img[1] }}' data-lightbox="group" data-title={{ img[0].name }}>
                                <div>
                                    <img src='{{ img[2] }}' class="img-responsive img-rounded displayed_big" alt="no image">
                                </div>
                            </a>
                            <div class="caption">
                                <a style="overflow: hidden;" href="#" data-html="true" data-placement="bottom" class="btn btn-sm btn-info more" rel="popover"
                                   data-content="<small><strong>Name:</strong>&nbsp;{{ img[0].name }} <br/>
                               <strong>Date:&nbsp;</strong></strong>{{ img[0].date.strftime("%A %b %d %H:%M:%S %Z %Y") }}</small>">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                  {% endfor%}
                  <form action="stream" method="post">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <button type="submit" class="button button-rounded" id="newer" value={{ id }}>Newer</button>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                          <button type="submit" class="button button-rounded" id="older" value={{ id }}> Older</button>
                      </div>
                      <input type="hidden" name="name" value="{{ stream.name }}">
                      <input type="hidden" id="idx" name="id">
                   </form>
                {% endif %}
            </div>
            <div style="margin-top: 50px;"></div>
          </div>
        {% if user_true %}
          <div class="panel panel-default">
              <div class="panel-heading">Upload pictures to: {{ stream.name }}</div>
              <div class="panel-body">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form id="fileupload" action="upload" method="post" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                  <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <span>Add files...</span>
                                    <input id = "addFileId" type="file" name="files[]" multiple>
                                </span>
                                <button id = "startUploadId" type="submit" class="btn btn-primary start"><span>Start upload</span></button>
                                <button type="reset" class="btn btn-warning cancel"><span>Cancel upload</span></button>
                                    <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <input type="hidden" name="name" value={{ stream.name }}>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                    <!-- The template to display files available for upload -->
                </div>
                {% raw %}
                <script id="template-upload" type="text/x-tmpl">
                    {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-upload fade">
                            <td>
                                <span class="preview"></span>
                            </td>
                            <td>
                                <p class="name">{%=file.name%}</p>
                                <strong class="error text-danger"></strong>
                            </td>
                            <td>
                                <p class="size">Processing...</p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                                {% if (!i && !o.options.autoUpload) { %}
                                    <button id = "uploadStartButton" class="btn btn-primary start" disabled>
                                        <span>Start</span>
                                    </button>
                                {% } %}
                                {% if (!i) { %}
                                    <button class="btn btn-warning cancel">
                                        <span>Cancel</span>
                                    </button>
                                {% } %}
                            </td>
                        </tr>
                    {% } %}
                </script>
                <!-- The template to display files available for download -->
                <script id="template-download" type="text/x-tmpl">
                    {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                            <td>
                                <span class="preview">
                                    {% if (file.thumbnailUrl) { %}
                                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                                    {% } %}
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    {% if (file.url) { %}
                                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                                    {% } else { %}
                                        <span>{%=file.name%}</span>
                                    {% } %}
                                </p>
                                {% if (file.error) { %}
                                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                                {% } %}
                            </td>
                            <td>
                                <span class="size">{%=o.formatFileSize(file.size)%}</span>
                            </td>
                        </tr>
                    {% } %}
                </script>
                {% endraw %}
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading"> Subscribe to <strong>{{ stream.name }}</strong></div>
                <div class="panel-body">
                    {% if not subscribed %}
                        <form role="form" action="subscribe.action" method="post">
                            <input type="hidden" name="name" value={{ stream.name }}>
                            <input type="hidden" name="i" value={{ id }}>
                            <div class="form-group col-md-2 col-sm-3">
                                <button id="subscr_stage_btn" type="submit" class="btn btn-info">&nbsp; Subscribe &nbsp;</button>
                            </div>
                        </form>
                    {% else %}
                        <form role="form" action="subscribe.action" method="post">
                            <input type="hidden" name="name" value={{ stream.name }}>
                            <input type="hidden" name="i" value={{ id }}>
                            <div class="form-group col-md-2 col-sm-3">
                                <button id="subscr_stage_btn" type="submit" class="btn btn-warning"><&nbsp; Unsubscribe &nbsp;</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}

      </div>
    </div>


    <div class="container">
      <section class="call-to-action">
        <div class="row">
          <div class="col-md-4">
            <span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true"></span>
            <h3>Name your Stream</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
            <h3>Tag your Stream</h3>
            <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-cloud glyphicon-large" aria-hidden="true"></span>
            <h3>Post your Stream</h3>
            <p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div>
        </div>
     </section>
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

 </div>
  
<script src="script/jquery-2.1.4.min.js"></script>
<script src="script/jquery-ui.min.js"></script>
<script src="script/bootstrap.min.js"></script>
<script src="script/bootstrap.file-input.js"></script>
<script src="script/blueimp-gallery.min.js"></script>
<script src="script/jquery.ui.widget.js"></script>
<script src="script/tmpl.min.js"></script>
<script src="script/load-image.all.min.js"></script>
<script src="script/canvas-to-blob.min.js"></script>
<script src="script/jquery.iframe-transport.js"></script>
<script src="script/jquery.fileupload.js"></script>
<script src="script/jquery.fileupload-process.js"></script>
<script src="script/jquery.fileupload-image.js"></script>
<script src="script/jquery.fileupload-validate.js"></script>
<script src="script/jquery.fileupload-ui.js"></script>
<script src="script/main.js"></script>
<script src="script/buttons.js"></script>
<script type="text/javascript">
    $(function() {
        $('.more').popover({
            trigger: 'hover',
            container: 'body'
        });
        $("#older").click(function() {
            $("#idx").val(parseInt($(this).attr('value'))+3);
        });
        $("#newer").click(function() {
            $("#idx").val(parseInt($(this).attr('value'))-3);
        });
        var newer_btn = $("#newer");
        var older_btn = $("#older");
        var num_of_images = parseInt('{{ num_image }}');
        if(parseInt($(newer_btn).attr('value')) == 0)
            $(newer_btn).hide();

        if(parseInt($(older_btn).attr('value')) + 3 >= num_of_images)
            $(older_btn).hide();

        {% if not subscribed %}
            var url = 'subscribe.action';
        {% else %}
            var url = 'unsubscribe.action';
        {% endif %}
        $('#subscr_stage_btn').on('click', function(e) {
            e.preventDefault();
            var $btn = $('#subscr_stage_btn');
            $btn.attr("disabled", true);
            setTimeout(function() { $btn.removeAttr("disabled"); }, 100);
            var stream = {
                name: '{{ stream.name }}'
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(stream),
                success: function() {
                    if (url == 'unsubscribe.action') {
                        url = 'subscribe.action';
                        $btn.attr('class', 'btn btn-info');
                        $btn.html('&nbsp; Subscribe &nbsp;');
                    }
                    else {
                        url = 'unsubscribe.action';
                        $btn.attr('class', 'btn btn-warning');
                        $btn.html('&nbsp; Unsubscribe &nbsp;');
                    }
                },
                error: function() {
                    alert("We apologize, but it seems there is problem in communication with the server! Please reload the page and continue.");
                }
            });
        });
        /*
        $('.my_tooltip').tooltip({
            track: true,
            content: function () {
                return $(this).prop('title');
            }
        });
        */
    });
</script>
<script src="script/lightbox.min.js"></script>



  </body>

</html>