<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/trending.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ greeting }}">Connex.us</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/management">Manage</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/view">View</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/social">Social</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>


  <div class="jumbotron">
    <div class="container">
      <div class="col-md-9">
        <div class="panel panel-primary" >
            <div class="panel-heading"><b>View All Streams</b></div>
            <div class="panel-body">
              <form action="/trending_left" method="post">
                  {% if num_stream == 0 %}
                      <div align="center"><b>No stream</b></div>
                  {% else %}
                      {% if num_stream == 1 %}
                          <div class="col-md-12 col-sm-18 col-xs-12">
                              <div class="panel panel-default">
                                  <div id="image" class="panel-body">
                                      <figure>
                                          <a href="/stream?name={{ firststream.name }}">
                                              <img src="{{ firststream.cover_img }}" class="img-responsive img-rounded displayed" alt={{ firststream.name }}>
                                              <figcaption>{{firststream.name}}</figcaption>
                                              <figcaption>{{firststream.view_dates.__len__()}} views</figcaption>
                                              <figcaption>in past hour</figcaption>
                                          </a>
                                      </figure>
                                  </div>
                              </div>
                          </div>
                      {%endif%}
                      {% if num_stream == 2 %}
                          <div class="col-md-6 col-sm-9 col-xs-12">
                              <div class="panel panel-default">
                                  <div id="image" class="panel-body">
                                      <figure>
                                          <a href="/stream?name={{ firststream.name }}">
                                              <img src="{{ firststream.cover_img }}" class="img-responsive img-rounded displayed" alt={{ firststream.name }}>
                                              <figcaption>{{firststream.name}}</figcaption>
                                              <figcaption>{{firststream.view_dates.__len__()}} views</figcaption>
                                              <figcaption>in past hour</figcaption>
                                          </a>
                                      </figure>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-9 col-xs-12">
                              <div class="panel panel-default">
                                  <div id="image" class="panel-body">
                                      <figure>
                                          <a href="/stream?name={{ secondstream.name }}">
                                              <img src="{{ secondstream.cover_img }}" class="img-responsive img-rounded displayed" alt={{ secondstream.name }}>
                                              <figcaption>{{secondstream.name}}</figcaption>
                                              <figcaption>{{secondstream.view_dates.__len__()}} views</figcaption>
                                              <figcaption>in past hour</figcaption>
                                          </a>
                                      </figure>
                                  </div>
                              </div>
                          </div>
                      {% endif %}
                      {% if num_stream == 3 %}
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="panel panel-default">
                                  <div id="image" class="panel-body">
                                      <figure>
                                          <a href="/stream?name={{ firststream.name }}">
                                              <img src="{{ firststream.cover_img }}" class="img-responsive img-rounded displayed" alt={{ firststream.name }}>
                                              <figcaption>{{firststream.name}}</figcaption>
                                              <figcaption>{{firststream.view_dates.__len__()}} views</figcaption>
                                              <figcaption>in past hour</figcaption>
                                          </a>
                                      </figure>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="panel panel-default">
                                  <div id="image" class="panel-body">
                                      <figure>
                                          <a href="/stream?name={{ secondstream.name }}">
                                              <img src="{{ secondstream.cover_img }}" class="img-responsive img-rounded displayed" alt={{ secondstream.name }}>
                                              <figcaption>{{secondstream.name}}</figcaption>
                                              <figcaption>{{secondstream.view_dates.__len__()}} views</figcaption>
                                              <figcaption>in past hour</figcaption>
                                          </a>
                                      </figure>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="panel panel-default">
                                  <div id="image" class="panel-body">
                                      <figure>
                                          <a href="/stream?name={{ thirdstream.name }}">
                                              <img src="{{ thirdstream.cover_img }}" class="img-responsive img-rounded displayed" alt={{ thirdstream.name }}>
                                              <figcaption>{{thirdstream.name}}</figcaption>
                                              <figcaption>{{thirdstream.view_dates.__len__()}} views</figcaption>
                                              <figcaption>in past hour</figcaption>
                                          </a>
                                      </figure>
                                  </div>
                              </div>
                          </div>
                      {% endif %}

                  {% endif %}
              </form>
            </div>
        </div>
      </div>
      <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Manage Trending</div>
                <div class="panel-body">
                    <form action="/trending_right" method="post">
                        {% if highlight == 1 %}
                            <input type="radio" name="rate" value="no"><b> No Reports</b>
                        {% else %}
                            <input type="radio" name="rate" value="no"> No Reports
                        {% endif %}
                        <p>&nbsp</p>
                        {% if highlight == 2 %}
                            <input type="radio" name="rate" value="min"><b> Every 5 minutes</b>
                        {% else %}
                            <input type="radio" name="rate" value="min"> Every 5 minutes
                        {% endif %}
                        <p>&nbsp</p>
                        {% if highlight == 3 %}
                            <input type="radio" name="rate" value="hour"><b> Every 1 hour</b>
                        {% else %}
                            <input type="radio" name="rate" value="hour"> Every 1 hour
                        {% endif %}
                        <p>&nbsp</p>
                        {% if highlight == 4 %}
                            <input type="radio" name="rate" value="day"><b> Every day</b>
                        {% else %}
                            <input type="radio" name="rate" value="day"> Every day
                        {% endif %}
                        <p>&nbsp</p>
                        <p><b><font size="3">Email trending report</font></b></p>
                        <!--<input type="submit" name="updaterate" value="Update rate">-->
                        <button id="trending_btn" type="submit" class="btn btn-primary">Update Rate</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="container">
      <section class="call-to-action">
        <div class="row">
          <div class="col-md-4">
            <span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true"></span>
            <h3>Name your Stream</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
            <h3>Tag your Stream</h3>
            <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-cloud glyphicon-large" aria-hidden="true"></span>
            <h3>Post your Stream</h3>
            <p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div>
        </div>
     </section>
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>